/backend/target
/target
/runtime
.env
deployer.txt
deployer-pk.txt
.env.*.local
node_modules
.next
out
coverage
*.log
.DS_Store
contracts/broadcast
contracts/cache
contracts/out

.next*
*.tsbuildinfo
*.zip
*.tar.gz
*-local-*.env
*-before-*.env
~/
